Options ExecCGI Includes IncludesNOEXEC SymLinksIfOwnerMatch -Indexes

RewriteEngine On

RewriteRule ^login.htm$  member.php [L]
RewriteRule ^404.html$  404.html [L]
RewriteRule ^([^/]+)$  redirect.php?dir=$1 [L]

RewriteRule ^(card|deck|member|comment)/$  $1.php [L]
RewriteRule ^(card|deck|member|comment)/([0-9a-zA-Z-_\/]+)$  $1.php [L]
RewriteRule ^(card|deck|member|comment)/([0-9a-zA-Z-_\/]+)/([^x00-xff]+)$  $1.php [L]

RewriteRule ^([^/]+)/(card|deck|member|comment)/$  $2.php [L]
RewriteRule ^([^/]+)/(card|deck|member|comment)/([0-9a-zA-Z-_\/]+)$  $2.php [L]
RewriteRule ^([^/]+)/(card|deck|member|comment)/([0-9a-zA-Z-_\/]+)/([^x00-xff]+)$  $2.php [L]

ErrorDocument 404 /404.html