/* OGS ADMIN css reset setting */

/* CSS reset */
html,body,p,ol,ul,li,div,span,p,table,th,td,strong,a,noscript,nav,footer,main,h1,h2,h3,h4,h5,h6,hr,input[type=button],input[type=submit],input[type=reset]{
	padding: 0;
	margin: 0;
	list-style: none;
	font-weight: normal;
	font-size: 1em;
	font-family: Arial,"微軟正黑體","Microsoft JhengHei UI", "Microsoft JhengHei";
	letter-spacing: 0.01em;
}

input[type=button],input[type=submit],input[type=reset]{
	font-size: 0.8em;
}

input,select,textarea{
	outline: none;
}

table{
	border-collapse:collapse; 
	border-spacing:0;
}

img{
	border: 0;
}

a{
	color: #333;
	text-decoration: none;
}

a:hover{
	color: #2F96B4;
}

*:after,*:before{
	content: ' ';
}

/* default defined */

.green{
	color: #2F96B4 !important;
}

hr{
	height: 2px;
	border: none;
	padding: 10px 0;
}

hr:before,hr:after{
	display: block;
	background: #CCC;
	height: 1px;
}

hr:before{
	background: #333;
}

.clear{
	clear: both;
}

.left{
	text-align: left;
}

.right{
	text-align: right;
}

.center{
	text-align: center;
}

.float_l{
	float: left;
}

.float_r{
	float: right;
}

.span{
	display: inline-block;
	margin: 0 5px;
}

.must:before{
	content: '*';
	margin: 0 2px 0 0;
}

.hide{
	display: none;
}

/* Common setting */
body{
	position: relative;
}

header{
	position: relative;
	width: 98%;
	height: 40px;
	padding: 0 1%;
	margin: 0 0 10px 0;
	background: #000;
}

header:after{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 5px;
	background: #2F96B4;
}

h1,.header_option{
	float: left;
	line-height: 35px;
	color: #FFF;
}

h2{
	padding: 10px 0;
}

h2:before,h3:before{
	margin: 0 5px;
	padding: 0 2px;
	background: #2F96B4;
}

h3{
	padding: 10px 0;
}

h3:before{
	background: #2244FF;
}


#main{
	position: relative;
	padding: 0 0 30px 60px;
}

#main #content{
	width: 100%;
}

footer{
	position: fixed;
	right: 0;
	bottom: 0;
	width: 96%;
	height: 35px;
	line-height: 35px;
	padding: 0 2%;
	text-align: right;
	display: block;
	background: rgba(255,255,255,0.8);
}

label{
	padding: 0 0 0 5px;
}

label:after{
	content: '：';
}

label + input,label + select{
	margin: 0 0 0 5px;
	vertical-align: middle;
}

label + textarea{
	vertical-align: top;
}

input[type=text],input[type=password],select{
	padding: 5px 0;
}

input[type=button],input[type=reset],input[type=submit]{
	padding: 5px 20px;
}

p{
	margin: 10px 0;
}

a:before{
	content: ' [ ';
}

a:after{
	content: ' ] ';
}

a.no-brackets:after{
	content: ' ';
}

/* NAV */
nav{
	position: absolute;
	top: 45px;
	left: -204px;
	width: 200px;
	background: #FFF;
	border: 1px solid #2F96B4;
	box-shadow: 2px 2px 5px #333;
	z-index: 5;	
}


nav h2{
	margin: 5px 0 20px 0;
}

nav label{
	display: block;
	width: 98%;
	height: 30px;
	line-height: 30px;
	background: #2F96B4;
	color: #FFF;
	padding: 1%;
	margin: 0 0 10px 0;
}

nav label:after{
	content: ' ';
}

nav ul{
	margin: 0 0 1em 1em;
}

nav li{
	margin: 10px 0;
}

nav li a{
	color: #333;
}

nav li a:hover,nav li a.current{
	color: #2F96B4;
	font-weight: bold;
}

#nav_close{
	position: absolute;
	width: 40px;
	height: 40px;
	top: 10px;
	right: -42px;
	border: 1px solid #2F96B4;
	border-left: 2px solid #FFF;
	box-shadow: 3px 3px 1px #888;
	background: #FFF;
	cursor: pointer;
	z-index: 5;
	line-height: 40px;
	text-align: center;
	font-size: 24px;
}

#nav_close:before{
	padding: 0;
}

#nav_close:hover,#nav_close.icon-rewind{
	color: #2F96B4;
	font-weight: bold;
	text-shadow: 1px 1px 1px #999;
}

/* header_option */
.header_option{
	float: right;
	margin-left: 50px;
	position: relative;
}

.header_option a{
	color: #FFF;
}

.header_option a:hover{
	color: #2F96B4;
}

/* TABLE */
table{
	width: 90%;
	margin: 10px auto;
}

table th{
	background: #2F96B4;
	color: #FFF;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #FFF;
}

table td{
	border: 1px solid #FFF;
	height: 30px;
	line-height: 30px;
	padding: 5px 10px;
}

table tr{
	background: #EEE;
}

table tr:nth-child(odd){
	background: #DDD;
}

table tr.span{
	background: #FFF;
}

table tr.btn{
	background: #FCFCFC;
}

table tr:hover{
	background: #D3E7ED;
}

table tr.span,table tr.btn{
	background: inherit;
}

table td:before,table td:after{
	/*display: none;*/
}

/* PAGE */
#page{
	width: 80%;
	margin: 10px auto;
	text-align: center;
}

#page li{
	display: inline-block;
	margin: 0 5px;
}

#page li a.current{
	color: #2F96B4;
}

/* IMG BLOCK */
.img_block{
	width: 120px;
	height: 120px;
	border: 1px dashed #2F96B4;
	position: relative; 
}

.img_block a{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 3;
	cursor: pointer;
}

.img_block a:after,.img_block a:before{
	content: '';
}

.img_block img{
	display: none;
	cursor: pointer;
}

.img_block p{
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	line-height: 120px;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.img_del{
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
	height: 30px;
	cursor: pointer;
	z-index: 5;
}

.img_del:before{
	display: block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

.ui-sortable-placeholder{
	float: left;
}
